*{
   box-sizing: border;
   margin: 0;
   padding: 0;
   text-decoration: none;
}
body{
   display: flex;
   justify-content: center;
   align-items: center;
   background: #7C32FF;
   min-height: 100vh;
   padding: 10px;
}
div.wrapper{
   background: #FFFFFF;
   padding: 20px;
   width: 800px;
   border-radius: 5px;
}
div.input-group{
   text-align: center;
}
input{
   width: 240px;
   height: 30px;
   border: 1px solid #DDD;
   outline: none;
   transition: 0.8s;
   padding-left: 5px;
}
input:focus{
   border: 1px solid #7C32FF;
}
button{
   margin-top: 25px;
   margin-bottom: 15px;
   width: 75px;
   height: 30px;
   background: #7C32FF;
   border: 1px solid #FFF;
   border-radius: 5px;
   color: #DDD;
   cursor: pointer;
   font-size: 16px;
}
iframe{
   border: 1px solid #DDD;
   margin-top: 25px;
   margin-bottom: 25px;
   height: 300px;
}
div.header{
   font-size: 24px;
   text-align: center;
}